.abd-acrylic {
  position: relative;
  background-color: rgba(255,255,255,.3);
  backdrop-filter: blur(25px) brightness(1.2);
}

.abd-acrylic::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("noise.png");;
  background-attachment: fixed;
  background-position: top left;
  opacity: .03;
}

.abd-acrylic::after {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  left: 0;
  background-color: hsl(0,100%,50%);
  opacity: 0;
}

.abd-acrylic.abd-blur-0   { backdrop-filter:             brightness(1.2); }
.abd-acrylic.abd-blur-5   { backdrop-filter: blur(5px)   brightness(1.2); }
.abd-acrylic.abd-blur-10  { backdrop-filter: blur(10px)  brightness(1.2); }
.abd-acrylic.abd-blur-15  { backdrop-filter: blur(15px)  brightness(1.2); }
.abd-acrylic.abd-blur-20  { backdrop-filter: blur(20px)  brightness(1.2); }
.abd-acrylic.abd-blur-25  { backdrop-filter: blur(25px)  brightness(1.2); }
.abd-acrylic.abd-blur-30  { backdrop-filter: blur(30px)  brightness(1.2); }
.abd-acrylic.abd-blur-35  { backdrop-filter: blur(35px)  brightness(1.2); }
.abd-acrylic.abd-blur-40  { backdrop-filter: blur(40px)  brightness(1.2); }
.abd-acrylic.abd-blur-45  { backdrop-filter: blur(45px)  brightness(1.2); }
.abd-acrylic.abd-blur-50  { backdrop-filter: blur(50px)  brightness(1.2); }
.abd-acrylic.abd-blur-55  { backdrop-filter: blur(55px)  brightness(1.2); }
.abd-acrylic.abd-blur-60  { backdrop-filter: blur(60px)  brightness(1.2); }
.abd-acrylic.abd-blur-65  { backdrop-filter: blur(65px)  brightness(1.2); }
.abd-acrylic.abd-blur-70  { backdrop-filter: blur(70px)  brightness(1.2); }
.abd-acrylic.abd-blur-75  { backdrop-filter: blur(75px)  brightness(1.2); }

.abd-acrylic.abd-blur-0   { -webkit-backdrop-filter:             brightness(1.2); }
.abd-acrylic.abd-blur-5   { -webkit-backdrop-filter: blur(5px)   brightness(1.2); }
.abd-acrylic.abd-blur-10  { -webkit-backdrop-filter: blur(10px)  brightness(1.2); }
.abd-acrylic.abd-blur-15  { -webkit-backdrop-filter: blur(15px)  brightness(1.2); }
.abd-acrylic.abd-blur-20  { -webkit-backdrop-filter: blur(20px)  brightness(1.2); }
.abd-acrylic.abd-blur-25  { -webkit-backdrop-filter: blur(25px)  brightness(1.2); }
.abd-acrylic.abd-blur-30  { -webkit-backdrop-filter: blur(30px)  brightness(1.2); }
.abd-acrylic.abd-blur-35  { -webkit-backdrop-filter: blur(35px)  brightness(1.2); }
.abd-acrylic.abd-blur-40  { -webkit-backdrop-filter: blur(40px)  brightness(1.2); }
.abd-acrylic.abd-blur-45  { -webkit-backdrop-filter: blur(45px)  brightness(1.2); }
.abd-acrylic.abd-blur-50  { -webkit-backdrop-filter: blur(50px)  brightness(1.2); }
.abd-acrylic.abd-blur-55  { -webkit-backdrop-filter: blur(55px)  brightness(1.2); }
.abd-acrylic.abd-blur-60  { -webkit-backdrop-filter: blur(60px)  brightness(1.2); }
.abd-acrylic.abd-blur-65  { -webkit-backdrop-filter: blur(65px)  brightness(1.2); }
.abd-acrylic.abd-blur-70  { -webkit-backdrop-filter: blur(70px)  brightness(1.2); }
.abd-acrylic.abd-blur-75  { -webkit-backdrop-filter: blur(75px)  brightness(1.2); }

.abd-acrylic.abd-noise-0::before  { opacity:    0; }
.abd-acrylic.abd-noise-1::before  { opacity: 0.01; }
.abd-acrylic.abd-noise-2::before  { opacity: 0.02; }
.abd-acrylic.abd-noise-3::before  { opacity: 0.03; }
.abd-acrylic.abd-noise-4::before  { opacity: 0.04; }
.abd-acrylic.abd-noise-5::before  { opacity: 0.05; }
.abd-acrylic.abd-noise-6::before  { opacity: 0.06; }
.abd-acrylic.abd-noise-7::before  { opacity: 0.07; }
.abd-acrylic.abd-noise-8::before  { opacity: 0.08; }
.abd-acrylic.abd-noise-9::before  { opacity: 0.09; }
.abd-acrylic.abd-noise-10::before { opacity: 0.10; }
.abd-acrylic.abd-noise-11::before { opacity: 0.11; }
.abd-acrylic.abd-noise-12::before { opacity: 0.12; }
.abd-acrylic.abd-noise-13::before { opacity: 0.13; }
.abd-acrylic.abd-noise-14::before { opacity: 0.14; }
.abd-acrylic.abd-noise-15::before { opacity: 0.15; }

.abd-acrylic.abd-luminosity-10  { background-color: rgba(  0,  0,  0,.8); }
.abd-acrylic.abd-luminosity-15  { background-color: rgba(  0,  0,  0,.7); }
.abd-acrylic.abd-luminosity-20  { background-color: rgba(  0,  0,  0,.6); }
.abd-acrylic.abd-luminosity-25  { background-color: rgba(  0,  0,  0,.5); }
.abd-acrylic.abd-luminosity-30  { background-color: rgba(  0,  0,  0,.4); }
.abd-acrylic.abd-luminosity-35  { background-color: rgba(  0,  0,  0,.3); }
.abd-acrylic.abd-luminosity-40  { background-color: rgba(  0,  0,  0,.2); }
.abd-acrylic.abd-luminosity-45  { background-color: rgba(  0,  0,  0,.1); }
.abd-acrylic.abd-luminosity-50  { background-color: transparent;          }
.abd-acrylic.abd-luminosity-55  { background-color: rgba(255,255,255,.1); }
.abd-acrylic.abd-luminosity-60  { background-color: rgba(255,255,255,.2); }
.abd-acrylic.abd-luminosity-65  { background-color: rgba(255,255,255,.3); }
.abd-acrylic.abd-luminosity-70  { background-color: rgba(255,255,255,.4); }
.abd-acrylic.abd-luminosity-75  { background-color: rgba(255,255,255,.5); }
.abd-acrylic.abd-luminosity-80  { background-color: rgba(255,255,255,.6); }
.abd-acrylic.abd-luminosity-85  { background-color: rgba(255,255,255,.7); }
.abd-acrylic.abd-luminosity-90  { background-color: rgba(255,255,255,.8); }

.abd-acrylic.abd-color-opacity-0::after  { opacity:    0; }
.abd-acrylic.abd-color-opacity-5::after  { opacity: 0.05; }
.abd-acrylic.abd-color-opacity-10::after { opacity: 0.10; }
.abd-acrylic.abd-color-opacity-15::after { opacity: 0.15; }
.abd-acrylic.abd-color-opacity-20:after  { opacity: 0.20; }
.abd-acrylic.abd-color-opacity-25::after { opacity: 0.25; }
.abd-acrylic.abd-color-opacity-30::after { opacity: 0.30; }
.abd-acrylic.abd-color-opacity-35::after { opacity: 0.35; }
.abd-acrylic.abd-color-opacity-40::after { opacity: 0.40; }
.abd-acrylic.abd-color-opacity-45::after { opacity: 0.45; }
.abd-acrylic.abd-color-opacity-50::after { opacity: 0.50; }

.abd-acrylic.abd-color-hue-0::after   { background-color: hsl(  0,100%,50%); }
.abd-acrylic.abd-color-hue-20::after  { background-color: hsl( 20,100%,50%); }
.abd-acrylic.abd-color-hue-40::after  { background-color: hsl( 40,100%,50%); }
.abd-acrylic.abd-color-hue-60::after  { background-color: hsl( 60,100%,50%); }
.abd-acrylic.abd-color-hue-80::after  { background-color: hsl( 80,100%,50%); }
.abd-acrylic.abd-color-hue-100::after { background-color: hsl(100,100%,50%); }
.abd-acrylic.abd-color-hue-120::after { background-color: hsl(120,100%,50%); }
.abd-acrylic.abd-color-hue-140::after { background-color: hsl(140,100%,50%); }
.abd-acrylic.abd-color-hue-160::after { background-color: hsl(160,100%,50%); }
.abd-acrylic.abd-color-hue-180::after { background-color: hsl(180,100%,50%); }
.abd-acrylic.abd-color-hue-200::after { background-color: hsl(200,100%,50%); }
.abd-acrylic.abd-color-hue-220::after { background-color: hsl(220,100%,50%); }
.abd-acrylic.abd-color-hue-240::after { background-color: hsl(240,100%,50%); }
.abd-acrylic.abd-color-hue-260::after { background-color: hsl(260,100%,50%); }
.abd-acrylic.abd-color-hue-280::after { background-color: hsl(280,100%,50%); }
.abd-acrylic.abd-color-hue-300::after { background-color: hsl(300,100%,50%); }
.abd-acrylic.abd-color-hue-320::after { background-color: hsl(320,100%,50%); }
.abd-acrylic.abd-color-hue-340::after { background-color: hsl(340,100%,50%); }